* {
    max-width: 100%;
}

body a:hover {
    opacity: 0.5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(78, 61, 77);
    background: radial-gradient(circle, rgba(78, 61, 77, 1) 0%, rgba(0, 0, 0, 1) 76%);
    color: #fff;
    max-width: 100%;
}

header {
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #7575755b;
}

section {
    padding: 40px;
    max-width: 100vh;
}

section a {
    text-decoration: none;
    padding: 2px;
    color: #FFF;
    background-color: #757575;
    border-radius: 2px;
}

section h2 {
    margin-top: 0;
}

.sobre {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 81vh;
    margin-left: 0%;
    margin-top: 100px;
}

.sobre h1 {
    font-family: 'Peace Sans', sans-serif;
    font-weight: 900;
    letter-spacing: -6px;
    font-size: 8em;
    text-align: center;
    margin: -5px;
    line-height: 86px;
}

.sobre p {
    font-weight: bold;
    margin-left: 64px;
    margin-bottom: 12px;
    line-height: 1;
    word-wrap: break-word;
    max-width: 400px;
}

.sobre #tec {
    float: right;
    margin-right: 64px;
}

.sobre a {
    float: right;
    margin-top: 20px;
    margin-right: 8px;
}

footer {
    color: #fff;
    padding: 20px;
    text-align: center;

}

@media (max-width: 600px) {
    header {
        display: block;
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: inline-block;
        margin-right: 5px;
    }

    .sobre {
        display: block;
        margin: 50px 20px;
    }

    .sobre h1 {
        font-size: 4em;
        font-weight: 900;
    }

    .sobre p {
        margin-left: 0;
    }

    footer {
        padding: 10px;
    }
}

@font-face {
    font-family: 'Peace Sans';
    src: url('/Peace-Sans-Webfont.ttf') format('truetype');
}
